.App {
  text-align: center;
  width: 600px;
  margin: 0 auto;
}
.new-todo-area {
  display: flex;
  align-items: center;
  border: 1px solid #000;
}
.add-new-todo {
  width: 80%;
  padding: 10px;
  border: none;
}

.add-new-todo:focus-visible {
  outline: none;
}

.add-new-todo-button {
  width: 20%;
  padding: 10px;
  background-color: #17bf63;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.todo-item {
  display: flex;
  padding: 10px;
  border: 1px solid #000;
  margin-top: 10px;
  align-items: center;
}
.todo-checkbox {
  margin-right: 40px;
}
.item-delete {
  display: flex;
  margin-left: auto;
  margin-right: 0;
  color: red;
  cursor: pointer;
  padding: 5px;
}

.filters {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border: 1px solid #000;
  margin-top: 10px;
}
.filter-item {
  align-items: center;
  display: flex;
}
